USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[Developers]    Script Date: 08.2.2025 00:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developers](
	[Id] [uniqueidentifier] NOT NULL,
	[DevName] [nvarchar](max) NULL,
	[DevDesc] [nvarchar](max) NULL,
	[YearFormed] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Developers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Developers] ([Id], [DevName], [DevDesc], [YearFormed]) VALUES (N'b453ea74-b733-4082-bf77-13d669784a45', N'Nintendo EPD', N'Japanese video game developer and division of Nintendo', CAST(N'2015-09-16T21:00:00.0000000' AS DateTime2))
INSERT [dbo].[Developers] ([Id], [DevName], [DevDesc], [YearFormed]) VALUES (N'f863a4b0-ce05-4e27-8459-241839781ee3', N'Guerrilla Games', N'Dutch developer specializing in action games', CAST(N'2000-06-01T19:00:00.0000000' AS DateTime2))
INSERT [dbo].[Developers] ([Id], [DevName], [DevDesc], [YearFormed]) VALUES (N'c60563a5-3b3c-4841-a0dc-30cff25b23d0', N'Epic Games', N'American video game and software developer creators of Unreal Engine', CAST(N'1991-01-01T12:00:00.0000000' AS DateTime2))
GO
