USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 08.2.2025 00:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [uniqueidentifier] NOT NULL,
	[GameTitle] [nvarchar](max) NULL,
	[GameDesc] [nvarchar](max) NULL,
	[DateReleased] [datetime2](7) NOT NULL,
	[GameImage] [nvarchar](max) NULL,
	[Rating] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[DeveloperId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Games] ([Id], [GameTitle], [GameDesc], [DateReleased], [GameImage], [Rating], [Price], [DeveloperId]) VALUES (N'f9fd29de-842b-49d6-aa77-425e1e715723', N'Mass Effect 2', N'An action RPG by BioWare, where Commander Shepard assembles a team to stop a mysterious threat to the galaxy, blending combat, exploration, and decision-making', CAST(N'2010-01-26T17:00:00.0000000' AS DateTime2), N'https://www.logotypes101.com/logos/782/DAA8870112174FCE1F5A50040BC5A639/MassEffect2_Converted.png', 9, 20, N'ea5495e8-a25b-4f8d-b2eb-8b36d6f9af7e')
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Developers_DeveloperId] FOREIGN KEY([DeveloperId])
REFERENCES [dbo].[Developers] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Developers_DeveloperId]
GO
